<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504296469628-59gqq0r77ng8o3m56urasrui1fvkk6oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504296469628-59gqq0r77ng8o3m56urasrui1fvkk6oc</string>
	<key>API_KEY</key>
	<string>AIzaSyCQSKRJclvBwyfs9-KmLyAOeuo2Dj0WfR4</string>
	<key>GCM_SENDER_ID</key>
	<string>504296469628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pllc.usegomo</string>
	<key>PROJECT_ID</key>
	<string>gomo-215416</string>
	<key>STORAGE_BUCKET</key>
	<string>gomo-215416.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504296469628:ios:6d8bc76b73bba9cc</string>
	<key>DATABASE_URL</key>
	<string>https://gomo-215416.firebaseio.com</string>
</dict>
</plist>