gomo-header {
    // .toolbar-background{
    //     background: url('../assets/icon/Gomo_Msg_icon/header_bg.png')  !important; 
    // }
    
    .mybadgeclass{
        position: absolute;
        top: 0px;
        right: 5px;
        border-radius: 100%;
        font-size: 1rem;
        padding: 4px;
        font-weight: bold;
      }
      .buttonclass{
        margin-left: 12%;
        color:white;
         border:1px solid white;
         border-radius:100%;
        //  margin:0px !important;
         padding:0px !important;
         min-width:20px !important;
         height: 25px !important;
         background:white !important;
      }
      .label-md
      {
          margin:0px !important;
      }

    @media screen and (orientation:landscape) {
         .mycol
         {
             max-width:16%;
         }
         .landscape
         {
             height:3rem;
         }
        
    }
    @media screen and(orientation:portrait){
        .mycol
        {
            max-width:19%;
        }
        .landscape
        {
            height:1.4rem;
        }
       
    }

}
