<!-- Generated template for the GomofooterComponent component -->
<div>
 <ion-grid>
    <ion-row>
      <ion-col col-3 style="text-align: center">
           <img src="assets/icon/Gomo_Msg_icon/msg_icon.png" style="height:25px"/>
      </ion-col>
      <ion-col col-3 style="text-align: center">
        <img src="assets/icon/Gomo_Msg_icon/cam_icon.png" style="height:25px"/>
      </ion-col>
      <ion-col col-3 style="text-align: center">
        <img src="assets/icon/Gomo_Msg_icon/grp_icon_ftr.png" style="height:25px"/>
      </ion-col>
     
      <ion-col col-3 style="text-align: center">
        <div>
          <button ion-button class="buttonclass" menuToggle (click)="this.showPopover=false">
              <ion-icon name="menu" style="color:white;font-size:3rem !important;" ></ion-icon>
           </button>
      </div>
      </ion-col>
    </ion-row>
 </ion-grid>

</div>
